.App {
  text-align: center;
}

.App-intro {
  font-size: 60px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.div-360{
  height: auto;
  margin: auto;
  max-width: 85%;
  overflow: auto;
}

.div-360 > div{
  position: absolute;
    top: 24px;
    left: 32px;
    width: 85%;
}


.div-360 .div-outline{
    position: absolute;
    top: 24px;
    left: 32px;
    z-index: 2;
    pointer-events: none;
    width: 85%;

}


.visible{
  visibility: visible !important;
}

.hidden{
  visibility: collapse !important;
}

.outline_polygon_normal {
  fill: white;
  pointer-events: visiblePainted;
  touch-action: manipulation;

}

.outline_polygon_normal:hover {
  fill: rgba(255, 255, 255, 0);
}

.tooltiptext {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #0366d6;
  padding: 18px;
  border-radius: 5px;
  color: white;
  line-height: 15px;
  transition: 1s;
  width: 200px;
}

.hovercard {
  position: absolute;
  opacity: 0;
  z-index: 1;
  left: 50%;
  top: -90px;
  transform: translateX(-50%);
}

.outline_polygon_normal:hover .hovercard {
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.1s;
}

#tool-tip{
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
  position: absolute;
  z-index: 10;
}

.sold {
  fill: red;
  opacity: 0.5;
  stroke-width: 5px;
  stroke-opacity: 1;
  stroke: red;
}

.available {
  fill: rgb(19, 211, 99);
  opacity: 0.3;
  stroke-width: 5px;
  stroke-opacity: 1;
  stroke: rgb(41, 83, 58);
}

.reserved {
  fill: rgb(241, 245, 35);
  opacity: 0.3;
  stroke-width: 5px;
  stroke-opacity: 1;
  stroke: rgb(241, 245, 35);
}

.unavailable {
  fill: rgba(233, 233, 233, 0.918);
  opacity: 0.3;
  stroke-width: 5px;
  stroke-opacity: 1;
  stroke: rgb(43, 39, 39);
}

.animateBlink {
  animation: 1s animateBlink ease-in infinite;
}

.company-logo{
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 17px;
  height: 50px;
  top: 30px;
}

.company-logo img{
  width: 40px;
}

.company-logo span{
  font-size: 18px;
  margin-left: 5px;
  color: #F9E594;
}

@keyframes animateBlink {
  from {
    opacity: 0.0;
  }

  50% {
    opacity: 0.15;
  }

  to {
    opacity: 0.3;
  }
}

/* Media Queries */

/* Media Query for Mobile Devices */
@media (max-width: 480px) {

  body{
    background-color: rgba(0, 0, 0, 0.856);
  }


  .react360>img {
    max-width: 100%;
    height: auto;

  }

  .icon-react360 {
    display: none;
  }

  .react360>svg {
    position: absolute;
    max-width: 100%;

  }

  .div-360 > div , .div-360 .div-outline{
    position: absolute;
    top: 50px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .company-logo{

    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    top: 0;

    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.856);
  }


  #tool-tip{
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    top: 300px;

    background: transparent;
    border: none;
  }

  #tool-tip-price , #tool-tip-surface{
    color: #eee;
  }

  .tool-tip-body-header{
    color: gray;
  }

  
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: rgba(0, 0, 0, 0.856);
  }
  .react360>img {
    max-width: 100%;

  }
  .icon-react360 {
    display: none;
  }

  .react360>svg {
    max-width: 100%;

  }

  .div-360 > div , .div-360 .div-outline{
    position: absolute;
    top: 50px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .company-logo{
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.856);
  }


}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: rgba(0, 0, 0, 0.856);
  }

  .div-360 > div , .div-360 .div-outline{
    position: absolute;
    top: 50px;
    width: 100%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .company-logo{
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    background-color: rgba(0, 0, 0, 0.856);
  }


}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  body {
    background-color: rgba(0, 0, 0, 0.856);
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  body {
    background-color: rgba(0, 0, 0, 0.856);
  }

  
}




